.App {
  text-align: center;
}

.App-header, .contact-container, .material-container, .aboutme-container, .payments-container, .schedule-container {
  background-color: #1fadaa;/*verde tiffany*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-section {
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-button {
  padding: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.menu-item {
  /* Estilos básicos do item de menu */
  color: #000; /* Cor padrão do texto */
}

.menu-item:hover {
  color: #1fadaa; /* Cor verde Tiffany ao passar o mouse */
  background-color: #e01e79; /* Cor de fundo leve ao passar o mouse */
}

.alunos-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.alunos-table th, .alunos-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.alunos-table th {
  background-color: #f2f2f2;
  color: #333;
}

/* .alunos-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.alunos-table tr:hover {
  background-color: #f1f1f1;
} */

/* Contact.css */
.contact-container {
  text-align: center;
  padding: 20px;
}

.contact-item {
  margin: 20px;
}

.contact-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s;
}

.contact-item img:hover {
  transform: scale(1.1);
}

.contact-item a {
  color: #706f6f; /* Cor padrão dos ícones  grafite*/
  transition: color 0.3s;
}

.contact-item a:hover {
  color: #e01e79; /*  rosa pink Cor dos ícones ao passar o mouse */
}