.App {
  text-align: center;
}

.App-header,
.contact-container,
.material-container,
.aboutme-container,
.extras-container,
.payments-container,
.schedule-container,
.restriction-container,
.passwordrecovery-container {
  background-color: #1fadaa;
  /*verde tiffany*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-section {
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-button {
  padding: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.menu-item {
  /* Estilos básicos do item de menu */
  color: #000;
  /* Cor padrão do texto */
}

.menu-item:hover {
  color: #1fadaa;
  /* Cor verde Tiffany ao passar o mouse */
  background-color: #e01e79;
  /* Cor de fundo leve ao passar o mouse */
}

.folder-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.folder-item {
  cursor: pointer;
  color: black;
  margin: 5px 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

.folder-item span,
.folder-item a {
  color: black;
  text-decoration: none;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.folder-item span:hover,
.folder-item a:hover {
  text-decoration: underline;
  color: red; /* Cor ao passar o mouse */
}

.folder-item button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
}

.folder-item button:hover {
  color: red;
}

.folder-item a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.files-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.explorer-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre ícone, nome e botão */
  cursor: pointer;
}

.explorer-item span,
.explorer-item a {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.explorer-item span:hover,
.explorer-item a:hover {
  text-decoration: underline;
  color: red; /* Cor ao passar o mouse */
}

.explorer-item button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
}

.explorer-item button:hover {
  color: red; /* Cor ao passar o mouse no botão */
}

.custom-icon {
  font-size: 18px; 
  color: black; 
  padding: 2px; 
  background-color: rgba(254, 254, 254, 0.814);
  border-radius: 2px;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  width: '24px'; 
  height: '24px'; 
}

.fa-icon {
  font-size: 1em;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  cursor: pointer;
  padding: 2px; 
}

.file-input {
  width: 0;
  height: 0;
  position: absolute;
  top: -9999px;
  z-index: 1;
  display: none;
}

.alunos-table,
.material-container {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.alunos-table th,
.alunos-table td,
.material-container th,
.material-container td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.alunos-table th,
.material-container th {
  background-color: #f2f2f2;
  color: #333;
}

/* .alunos-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.alunos-table tr:hover {
  background-color: #f1f1f1;
} */

/* Contact.css */
.contact-container {
  text-align: center;
  padding: 20px;
}

.contact-item {
  margin: 20px;
}

.contact-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s;
}

.contact-item img:hover {
  transform: scale(1.1);
}

.contact-item a {
  color: #706f6f;
  /* Cor padrão dos ícones  grafite*/
  transition: color 0.3s;
}

.contact-item a:hover {
  color: #e01e79;
  /*  rosa pink Cor dos ícones ao passar o mouse */
}

/*Restrictions*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*card da data selecionado */
.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  position: relative;
}

.card.conflict {
  background-color: red;
}

.card.available {
  background-color: green;
}
/* botao remover */
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
/* agrupamento dos blocos de horário */
.time-slot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* blocos de horário */
.time-button {
  margin: 5px;
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.time-button.selected {
  background-color: green;
}

.time-button:hover {
  background-color: darkgray;
}

.time-button.selected:hover {
  background-color: darkgreen;
}

/*Calendar*/
.react-calendar__tile--professor-restriction {
  background: blue !important;
  color: white !important;
}

.react-calendar__tile--conflict {
  background: red !important;
  color: white !important;
}

.react-calendar__tile--available {
  background: green !important;
  color: white !important;
}

.react-calendar__tile--weekend {
  background: lightpink !important; 
  cursor: not-allowed;
  /* color: white !important; */
  /* display: none !important; */
  /* visibility: hidden; */
}

.react-calendar__tile--weekday { 
  cursor: pointer;
}

.react-calendar__tile--today {
  background: orange !important;
  color: white !important;
  cursor: pointer;
}

.react-calendar__tile--disabled {
  color: lightgray !important;
  cursor:not-allowed;
  /* background: lightgray !important; */
  /* pointer-events: none; */
  /* visibility: hidden; */
}

.react-calendar__tile--month { 
  cursor: pointer;
}